@page
@{
}
<form asp-action="AssignRole" method="post">
    <input type="text" name="email" placeholder="User" />
    <input type="text" name="roleAssigned" placeholder="Role" />
    <button type="submit">Submit</button>
</form>