@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model PollingSystemTest_01.Models.PollQuestion

@{
    ViewData["Title"] = "CreateQuestion";
}

<h1>CreateQuestion</h1>

<h4>Poll Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQuestion" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Title</label>
                <input name="title" asp-for="Name" class="form-control"></input>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Content</label>
                <textarea name="question" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PollOptions" class="control-label">Add Up To Four Options</label>
                <input name="option1" asp-for="PollOptions" class="form-control"></input>
                <input name="option2" asp-for="PollOptions" class="form-control"></input>
                <input name="option3" asp-for="PollOptions" class="form-control"></input>
                <input name="option4" asp-for="PollOptions" class="form-control"></input>
                <span asp-validation-for="PollOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsersSelected" class="control-label">Select Users For Poll</label>
                <select asp-for="UsersSelected" class="form-group" multiple="multiple" id="usersParticipating" name="users">
            @foreach (var user in @ViewBag.users)
            {
                if (User.Identity.Name != user.Email)
                {
                    <option value=@user.Email>@user.Email</option>

                }
            }
        </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
